@page "/samourais/{SamouraiId:int}"
@using TpDojo.Blazor.ViewModels
@using TpDojo.Business

<h3>DetailsSamourais</h3>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Force</th>
            <th>Arme</th>
            <th>Arts Martiaux</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@samourai.Nom</td>
            <td>@samourai.Force</td>
            <td>@samourai.Arme?.Nom</td>
            <td>
                @foreach (var artMartial in samourai.ArtMartiaux)
                {
                    @artMartial.Nom
                }
            </td>
            <td><a href="@($"/samourais")" class="btn btn-warning">Retour</a></td>

        </tr>
    </tbody>
</table>


